extends layout

block content
  - var username = "Username"
  - var like_count = "Like Count"
  - var show_edit = true

  include ./userHeader.jade

  .title
    h1 Your Albums
    img(src="./add_button.png", alt="")

