<%- include('layout') -%>

<img class="icon" src="./camera-icon.svg", alt="" />
<h1>title</h1>
<p> Welcome to #{title} </p>
<form name="" method="post">
  <div class="input-container">
    <input type="text" name="email" required="" />
    <label> Email </label>
  </div>
  <div>
    <input class="input-button" type="submit" value="Reset" />
  </div>
</form>
<div>
  <a href="/" > Go Back </a>
</div>

<%- include('footer') -%>