extends layout

block content
  img(src="./imagy.webp", alt="")
  
  h1= title
  p Welcome to #{title}
  form(name="add-estimation", method="post")
    div(class="input-container")
      input(type="text", name="email" required="")
      label Email
    
    div
      input(class="btn" type="submit", value="Reset")
  div
    a(href="/") Go Back