extends layout

block content
  img(class="icon" src="./camera-icon.svg", alt="")
  
  h1= title
  p Welcome to #{title}

  form(name="add-estimation", method="post")
    div(class="input-container")
      input(type="text", name="username" required="")
      label Username
    div(class="input-container")
      input(type="text", name="password" required="")
      label Password
    div
      input(class="input-button" type="submit", value="Login")
  div
    a(href="/forgotten_password") Forgotten password
  div
    a(href="/register") Register
  div
    a(href="/main") Continue without login