doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/heart.css')
  body
    div(class="content")
      block content

  script(src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript")
  script(src="/scripts/heart.js" type="text/javascript")
