<!doctype html>
<html>
  <head>
      <title>Title</title>
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="/stylesheets/heart.css">
  </head>
<body>
  <div class="content">