extends layout

block content
  div
    img(class="pinned-icon" src="./camera-icon.svg", alt="")

  include ./pinnedUser.jade
    
  div(class="input-container")
    input(type="text", name="search_field" placeholder="search...")

  div
    each album in objectrepository
      include ./albumView.jade
