extends layout

block content
  div
    img(class="pinned-icon" src="./imagy.webp", alt="")
  include ./pinnedUser.jade
    
  div(class="input-container")
    input(type="text", name="search_field" placeholder="search...")

  div
    each album in albums
      h1=album.id
