extends layout

block content
  div
    img(class="pinned-icon" src="./imagy.webp", alt="")
    
    
    div(class="input-container")
      input(type="text", name="password" placeholder="search...")


    div(class="pinned-user")
      img(class="icon" src="./imagy.webp", alt="")
      a(style='white-space:pre;' href="/user") 
        | Profile 
        | (or login)
