<div class="pinned-user">
    <img src="./user_placeholder.png" alt="" />
    <% if  (authenticatedUser != "guest") { %> 
        <a href="/user"> Profile </a>
    <% } else { %> 
        <p> Guest </p>
    <% } %>
    <a href="/logout"> Logout </a>
</div>