extends layout

block content
  img(class="icon" src="./camera-icon.svg", alt="")
  
  h1= title
  p Register to Imagy
  form(name="add-estimation", method="post")
    div(class="input-container")
      input(type="text", name="email" required="")
      label Email
    div(class="input-container")
      input(type="text", name="username" required="")
      label Username
    div(class="input-container")
      input(type="text", name="password" required="")
      label Password
    div(class="input-container")
      input(type="text", name="repassword" required="")
      label Re-enter Password
    div
      input(class="input-button" type="submit", value="Register")
  
  a( href="/") Go Back