h1 Add Album
form(name="add-estimation", method="post")
    div(class="input-container")
        input(type="text", name="albumname" required="")
        label Album name
    div(class="input-container")
        input(type="text", name="tags" required="")
        label Tags
    div
        input(class="input-button" type="submit", value="Add Album")