<h1> Add Image </h1>
<form method="post" action="/image/add/<%= albumId %>" enctype="multipart/form-data">
    <label for="file-upload" class="rounded-button">
        <i> Upload Image </i>
    </label>
    <input id="file-upload" type="file" accept="image/*" name="image" required="" onchange="readURL(this);" />
    <img id="image-presenter" src="../no_image_placeholder.png" alt="image"/>
    <div>
        <input class="input-button" type="submit" value="Add Image"/>
    </div>
</form>