<div class="right")>
  <img src="../user_placeholder.png" alt="" />
  <div class="block">
    <p> <%= username %> </p>
    <p> <%= like_count %> </p>
    <% if (show_edit) { %>
      <div class="rounded-button bottom" ref="/user_edit">
        edit profile
      </div>
    <% } %>
  </div>
</div>