div(class="right")
  img(src="../user_placeholder.png", alt="")
  div(class="block")
    p #{username}
    p #{like_count}
    if show_edit
      div(class="rounded-button bottom" ref="/user_edit") edit profile

