extends layout

block content

  - var username = "Current Username"
  - var like_count = "Like Count"
  - var show_edit = false
  - var email = "Current Email"

  include ./userHeader.jade

  form(name="add-estimation", method="post")
    div(class="input-container")
      input(type="text", name="email" value=email required="")
      label Email
    div(class="input-container")
      input(type="text", name="username" value=username required="")
      label Username
    div
      input(class="btn" type="submit", value="Edit")
  
  form(name="add-estimation", method="post")
    div(class="input-container")
      input(type="text", name="old_password" required="")
      label Old Password
    div(class="input-container")
      input(type="text", name="new_password" required="")
      label New Password
    div(class="input-container")
      input(type="text", name="new_repassword" required="")
      label Re-enter New Password
    div
      input(class="btn" type="submit", value="Change password")
